#shortcuts_help_body {
  font-size: 10pt;

  h4 {
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 5px 15px 0;
    li {
      border-top: 1px dotted #000000;
      padding: 0 5px;
      &:last-child {
        border-bottom: 1px dotted #000000;
      }
      &:hover {
        background-color: rgba(0, 100, 0, 0.1);
      }

      .keys {
        font-family: monospace;
        text-align: right;
        padding: 0 0 0 15px;
      }
      .description {
        font-weight: bold;
        float: left;
      }
    }
  }
}

.shortcut-selection {
  position: relative;
  &.highlight-in {
    transition: box-shadow 0.3s;
    box-shadow: 0 0 10px 6px red !important;
  }
  &.highlight-out {
    transition: box-shadow 0.2s;
    box-shadow: 0 0 5px 1px red !important;
  }
}